body{
	
}

.autosuggest, .dropdown, .result {
	margin:0;
	padding:0;
	border:0;
	width:250px;
}

.autosuggest{
	padding:4px;
	border: 1px solid #000;
}

.result {
	width: 260px;
	list-style:none;
}

.result a {
	text-decoration: none;
}

.result li {
	padding: 5px;
	border: 1px solid #000;
	border-top:0;
}

.result li:hover {
	background-color: grey;
	color: white;	
}